# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.log

# Environment
venv/
.env
*.env~~

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Compiled files
*.so

